$nav-background-color: #1f1f30;
$light-text-color: white;
$dark-text-color: black;
$orange-background: #f2b538;
$common-font: 'IBM Plex Mono',sans-serif;
$red-background: #f74040;
$blue-color: #40bcd0;